@font-face
{
    font-family: "NicoMoji";
    src: url(https://fonts.gstatic.com/ea/nicomoji/v1/NicoMoji-Regular.woff2) format("woff2");
}

@font-face
{
    font-family: "MPLUSRounded1c";
    src: url(https://fonts.gstatic.com/s/mplusrounded1c/v10/VdGEAYIAV6gnpUpoWwNkYvrugw9RuPWDpq8A_4TPv30lLyDK_FIhT0K-oTdprA.0.woff2) format("woff2");
}

canvas
{
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
}

.noDisplay
{
    display: none;
}

input[type="text"]
{
    padding: 0 4px 0 12px;
    width: 30.5em;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    margin: 0 0 12px 0;
}

.buttonWrapper
{
    text-align:center;
}

button
{
    width:10em;
    height:5em;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #2c2c2c;
    border: solid 1px #4b4b4b;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(133, 86, 86, 0.2);
}

button:active 
{
    border: solid 1px #1f1f1f;
    box-shadow: none;
    text-shadow: none;
}

select
{
    padding: 0 4px;
    width: 8.5em;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    margin: 0 0 12px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #0c0c0c 50%), linear-gradient(135deg, #1f1f1f 50%, transparent 50%), linear-gradient(to right, #d9eaff, #d9eaff);
    background-position: calc(100% - 10px) calc(0.6em + 2px), calc(100% - 5px) calc(0.6em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 1.5em 2.5em;
    background-repeat: no-repeat;
}

input#cb0[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/0N.png);
}

input#cb0[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/0C.png);
}


input#cb1[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/1N.png);
}

input#cb1[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/1C.png);
}


input#cb2[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/2N.png);
}

input#cb2[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/2C.png);
}


input#cb3[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/3N.png);
}

input#cb3[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/3C.png);
}


input#cb4[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/4N.png);
}

input#cb4[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/4C.png);
}


input#cb5[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/5N.png);
}

input#cb5[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/5C.png);
}


input#cb6[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/6N.png);
}

input#cb6[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/6C.png);
}


input#cb7[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/7N.png);
}

input#cb7[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/7C.png);
}


input#cb8[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/8N.png);
}

input#cb8[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/8C.png);
}


input#cb9[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/9N.png);
}

input#cb9[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/9C.png);
}


input#cb10[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/10N.png);
}

input#cb10[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/10C.png);
}


input#cb11[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/11N.png);
}

input#cb11[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/11C.png);
}


input#cb12[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/12N.png);
}

input#cb12[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/12C.png);
}


input#cb13[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/13N.png);
}

input#cb13[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/13C.png);
}


input#cb14[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/14N.png);
}

input#cb14[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/14C.png);
}


input#cb15[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/15N.png);
}

input#cb15[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/15C.png);
}


input#cb16[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/16N.png);
}

input#cb16[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/16C.png);
}


input#cb17[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/17N.png);
}

input#cb17[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/17C.png);
}


input#cb18[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/18N.png);
}

input#cb18[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/18C.png);
}


input#cb19[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/19N.png);
}

input#cb19[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/19C.png);
}


input#cb20[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/20N.png);
}

input#cb20[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/20C.png);
}


input#cb21[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/21N.png);
}

input#cb21[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/21C.png);
}


input#cb22[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/22N.png);
}

input#cb22[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/22C.png);
}


input#cb23[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/23N.png);
}

input#cb23[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/23C.png);
}


input#cb24[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/24N.png);
}

input#cb24[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/24C.png);
}


input#cb25[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/25N.png);
}

input#cb25[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/25C.png);
}


input#cb26[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/26N.png);
}

input#cb26[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/26C.png);
}


input#cb27[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/27N.png);
}

input#cb27[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/27C.png);
}


input#cb28[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/28N.png);
}

input#cb28[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/28C.png);
}


input#cb29[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/29N.png);
}

input#cb29[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/29C.png);
}


input#cb30[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/30N.png);
}

input#cb30[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/30C.png);
}


input#cb31[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/31N.png);
}

input#cb31[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/31C.png);
}


input#cb32[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/32N.png);
}

input#cb32[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/32C.png);
}


input#cb33[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/33N.png);
}

input#cb33[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/33C.png);
}


input#cb34[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/34N.png);
}

input#cb34[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/34C.png);
}


input#cb35[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/35N.png);
}

input#cb35[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/35C.png);
}


input#cb36[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/36N.png);
}

input#cb36[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/36C.png);
}


input#cb37[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/37N.png);
}

input#cb37[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/37C.png);
}


input#cb38[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/38N.png);
}

input#cb38[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/38C.png);
}


input#cb39[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/39N.png);
}

input#cb39[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/39C.png);
}


input#cb40[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/40N.png);
}

input#cb40[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/40C.png);
}


input#cb41[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/41N.png);
}

input#cb41[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/41C.png);
}


input#cb42[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/42N.png);
}

input#cb42[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/42C.png);
}


input#cb43[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/43N.png);
}

input#cb43[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/43C.png);
}


input#cb44[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/44N.png);
}

input#cb44[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/44C.png);
}


input#cb45[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/45N.png);
}

input#cb45[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/45C.png);
}


input#cb46[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/46N.png);
}

input#cb46[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/46C.png);
}


input#cb47[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/47N.png);
}

input#cb47[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/47C.png);
}


input#cb48[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/48N.png);
}

input#cb48[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/48C.png);
}


input#cb49[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/49N.png);
}

input#cb49[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/49C.png);
}


input#cb50[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/50N.png);
}

input#cb50[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/50C.png);
}


input#cb51[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/51N.png);
}

input#cb51[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/51C.png);
}


input#cb52[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/52N.png);
}

input#cb52[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/52C.png);
}


input#cb53[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/53N.png);
}

input#cb53[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/53C.png);
}


input#cb54[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/54N.png);
}

input#cb54[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/54C.png);
}


input#cb55[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/55N.png);
}

input#cb55[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/55C.png);
}


input#cb56[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/56N.png);
}

input#cb56[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/56C.png);
}


input#cb57[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/57N.png);
}

input#cb57[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/57C.png);
}


input#cb58[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/58N.png);
}

input#cb58[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/58C.png);
}


input#cb59[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/59N.png);
}

input#cb59[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/59C.png);
}


input#cb60[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/60N.png);
}

input#cb60[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/60C.png);
}


input#cb61[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/61N.png);
}

input#cb61[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/61C.png);
}


input#cb62[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/62N.png);
}

input#cb62[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/62C.png);
}


input#cb63[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/63N.png);
}

input#cb63[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/63C.png);
}


input#cb64[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/64N.png);
}

input#cb64[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/64C.png);
}


input#cb65[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/65N.png);
}

input#cb65[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/65C.png);
}


input#cb66[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/66N.png);
}

input#cb66[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/66C.png);
}


input#cb67[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/67N.png);
}

input#cb67[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/67C.png);
}


input#cb68[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/68N.png);
}

input#cb68[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/68C.png);
}


input#cb69[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/69N.png);
}

input#cb69[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/69C.png);
}


input#cb70[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/70N.png);
}

input#cb70[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/70C.png);
}


input#cb71[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/71N.png);
}

input#cb71[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/71C.png);
}


input#cb72[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/72N.png);
}

input#cb72[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/72C.png);
}


input#cb73[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/73N.png);
}

input#cb73[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/73C.png);
}


input#cb74[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/74N.png);
}

input#cb74[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/74C.png);
}


input#cb75[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/75N.png);
}

input#cb75[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/75C.png);
}


input#cb76[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/76N.png);
}

input#cb76[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/76C.png);
}


input#cb77[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/77N.png);
}

input#cb77[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/77C.png);
}


input#cb78[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/78N.png);
}

input#cb78[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/78C.png);
}


input#cb79[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/79N.png);
}

input#cb79[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/79C.png);
}


input#cb80[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/80N.png);
}

input#cb80[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/80C.png);
}


input#cb81[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/81N.png);
}

input#cb81[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/81C.png);
}


input#cb82[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/82N.png);
}

input#cb82[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/82C.png);
}


input#cb83[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/83N.png);
}

input#cb83[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/83C.png);
}


input#cb84[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/84N.png);
}

input#cb84[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/84C.png);
}


input#cb85[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/85N.png);
}

input#cb85[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/85C.png);
}


input#cb86[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/86N.png);
}

input#cb86[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/86C.png);
}


input#cb87[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/87N.png);
}

input#cb87[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/87C.png);
}


input#cb88[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/88N.png);
}

input#cb88[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/88C.png);
}


input#cb89[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/89N.png);
}

input#cb89[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/89C.png);
}


input#cb90[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/90N.png);
}

input#cb90[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/90C.png);
}


input#cb91[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/91N.png);
}

input#cb91[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/91C.png);
}


input#cb92[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/92N.png);
}

input#cb92[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/92C.png);
}


input#cb93[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/93N.png);
}

input#cb93[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/93C.png);
}


input#cb94[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/94N.png);
}

input#cb94[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/94C.png);
}


input#cb95[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/95N.png);
}

input#cb95[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/95C.png);
}


input#cb96[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/96N.png);
}

input#cb96[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/96C.png);
}


input#cb97[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/97N.png);
}

input#cb97[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/97C.png);
}


input#cb98[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/98N.png);
}

input#cb98[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/98C.png);
}


input#cb99[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/99N.png);
}

input#cb99[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/99C.png);
}


input#cb100[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/100N.png);
}

input#cb100[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/100C.png);
}


input#cb101[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/101N.png);
}

input#cb101[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/101C.png);
}


input#cb102[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/102N.png);
}

input#cb102[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/102C.png);
}


input#cb103[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/103N.png);
}

input#cb103[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/103C.png);
}


input#cb104[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/104N.png);
}

input#cb104[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/104C.png);
}


input#cb105[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/105N.png);
}

input#cb105[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/105C.png);
}


input#cb106[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/106N.png);
}

input#cb106[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/106C.png);
}


input#cb107[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/107N.png);
}

input#cb107[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/107C.png);
}


input#cb108[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/108N.png);
}

input#cb108[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/108C.png);
}


input#cb109[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/109N.png);
}

input#cb109[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/109C.png);
}


input#cb110[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/110N.png);
}

input#cb110[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/110C.png);
}


input#cb111[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/111N.png);
}

input#cb111[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/111C.png);
}


input#cb112[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/112N.png);
}

input#cb112[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/112C.png);
}


input#cb113[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/113N.png);
}

input#cb113[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/113C.png);
}


input#cb114[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/114N.png);
}

input#cb114[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/114C.png);
}


input#cb115[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/115N.png);
}

input#cb115[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/115C.png);
}


input#cb116[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/116N.png);
}

input#cb116[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/116C.png);
}


input#cb117[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/117N.png);
}

input#cb117[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/117C.png);
}


input#cb118[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/118N.png);
}

input#cb118[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/118C.png);
}


input#cb119[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/119N.png);
}

input#cb119[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/119C.png);
}


input#cb120[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/120N.png);
}

input#cb120[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/120C.png);
}


input#cb121[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/121N.png);
}

input#cb121[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/121C.png);
}


input#cb122[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/122N.png);
}

input#cb122[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/122C.png);
}


input#cb123[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/123N.png);
}

input#cb123[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/123C.png);
}


input#cb124[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/124N.png);
}

input#cb124[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/124C.png);
}


input#cb125[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/125N.png);
}

input#cb125[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/125C.png);
}


input#cb126[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/126N.png);
}

input#cb126[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/126C.png);
}


input#cb127[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/127N.png);
}

input#cb127[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/127C.png);
}


input#cb128[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/128N.png);
}

input#cb128[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/128C.png);
}


input#cb129[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/129N.png);
}

input#cb129[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/129C.png);
}


input#cb130[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/130N.png);
}

input#cb130[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/130C.png);
}


input#cb131[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/131N.png);
}

input#cb131[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/131C.png);
}


input#cb132[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/132N.png);
}

input#cb132[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/132C.png);
}


input#cb133[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/133N.png);
}

input#cb133[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/133C.png);
}


input#cb134[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/134N.png);
}

input#cb134[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/134C.png);
}


input#cb135[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/135N.png);
}

input#cb135[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/135C.png);
}


input#cb136[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/136N.png);
}

input#cb136[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/136C.png);
}


input#cb137[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/137N.png);
}

input#cb137[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/137C.png);
}


input#cb138[type="checkbox"]
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/138N.png);
}

input#cb138[type="checkbox"]:checked:before
{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../images/138C.png);
}